* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #F5F5F5;
  ;
}
